
.button {
    padding: 1rem 1.5rem;
    border-radius: 8px;
    font-weight: 600;
    color: white;
    background-color: #008cff;
    border: none;
    outline: none;
}

.button:focus, .button:active {
    padding: 1rem 1.5rem;
    color: white;
    background-color: #4b9bdd;
    border: none;
}

.button:hover {
    background-color:#008afb;
}

.button:disabled {
    pointer-events: none;
    background-color: #98c0e2;
}