
.input {
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 1rem;
    margin: 1rem;
    background-color: rgb(243, 242, 242);
    outline: none;
    width: 25rem;

}

@media screen and (max-width: 700px) {
    .input {
        width: inherit;
    }
}

.input:focus {
    padding: 1rem;
    border: #ddd;

}