.ipynb_checkpoints/
dataset/
transformer_weights/
transformer_weights1/
basic_attention_weights*/
weights_imdb/
.vscode/
__pycache__/
.myenv
tokenizer.*
tokenizer.pickle
weights*/
.next
.env
server.log